@page
@model Area42.WebUI.Pages.Accommodaties.IndexModel
@{
    ViewData["Title"] = "Accommodaties";
}

<h2>Accommodaties</h2>
<div class="row">
    @if (User.IsInRole("Medewerker"))
    {
        <a asp-page="/Accommodaties/Add" class="btn btn-success mb-3">Nieuwe Accommodatie Toevoegen</a>
    }
    @if (Model.Accommodaties != null && Model.Accommodaties.Any())
    {
        

        foreach (var accommodatie in Model.Accommodaties)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm">
                    @if (!string.IsNullOrEmpty(accommodatie.ImagePath))
                    {
                        <img class="card-img-top" src="~/@(accommodatie.ImagePath)" alt="@accommodatie.Naam" />
                    }
                    else
                    {
                        <img class="card-img-top" src="~/images/Accommodaties/default-accommodation.jpg" alt="Default image" />
                    }
                    <div class="card-body">
                        <h5 class="card-title">@accommodatie.Naam</h5>
                        <p class="card-text">
                            <strong>Type:</strong> @accommodatie.Type<br />
                            <strong>Capaciteit:</strong> @accommodatie.Capaciteit personen<br />
                            <strong>Prijs:</strong> &euro;@accommodatie.PrijsPerNacht
                        </p>
                        <p class="card-text">@accommodatie.Beschrijving</p>
                        <a asp-page="/Reserveringen/Add" class="btn ms-2 mb-3 btn-primary">Maak een reservering</a>
                        @if (User.IsInRole("Medewerker"))
                        {
                            <form method="post"
                                  asp-page-handler="Delete"
                                  asp-route-id="@accommodatie.Id"
                                  onsubmit="return confirm('Weet je het zeker?');"
                                  style="display:inline">
                                <button type="submit" class="btn ms-2 mb-3 btn-danger">
                                    Verwijderen
                                </button>
                                @Html.AntiForgeryToken()
                            </form>
                        }

                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="col-12">
            <p>Er zijn momenteel geen accommodaties beschikbaar.</p>
        </div>
    }
</div>