@page
@model Area42.WebUI.Pages.Accommodaties.IndexModel
@{
    ViewData["Title"] = "Accommodaties";
}

<h2>Accommodaties</h2>
<div class="row">
    @if (Model.Accommodaties != null && Model.Accommodaties.Any())
    {
        foreach (var accommodatie in Model.Accommodaties)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm">
                    @if (!string.IsNullOrEmpty(accommodatie.ImagePath))
                    {
                        <!-- Zorg dat je de afbeelding ophaalt met het juiste pad. -->
                        <img class="card-img-top" src="~/@(accommodatie.ImagePath)" alt="@accommodatie.Naam" />
                    }
                    else
                    {
                        <!-- Optioneel: een standaardafbeelding tonen als er geen afbeelding is opgegeven -->
                        <img class="card-img-top" src="~/images/default-accommodation.jpg" alt="Default image" />
                    }
                    <div class="card-body">
                        <h5 class="card-title">@accommodatie.Naam</h5>
                        <p class="card-text">
                            <strong>Type:</strong> @accommodatie.Type<br />
                            <strong>Capaciteit:</strong> @accommodatie.Capaciteit personen<br />
                            <strong>Prijs:</strong> &euro;@accommodatie.PrijsPerNacht
                        </p>
                        <p class="card-text">@accommodatie.Beschrijving</p>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="col-12">
            <p>Er zijn momenteel geen accommodaties beschikbaar.</p>
        </div>
    }
</div>