@page
@model Area42.WebUI.Pages.Reserveringen.IndexModel
@{
    ViewData["Title"] = "Reserveringen";
}

<h2>Reserveringen</h2>

@if (Model.Reserveringen != null && Model.Reserveringen.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Accommodatie</th>
                <th>Startdatum</th>
                <th>Einddatum</th>
                <th>Status</th>
                @* Eventueel
                <th>Acties</th>
                *@
            </tr>
        </thead>
        <tbody>
            @foreach (var reserv in Model.Reserveringen)
            {
                <tr>
                    <td>@reserv.Id</td>
                    <td>@reserv.AccommodatieId</td>
                    <td>@reserv.Startdatum.ToShortDateString()</td>
                    <td>@reserv.Einddatum.ToShortDateString()</td>
                    <td>@reserv.Status</td>
                    @* Voeg hier knoppen toe om bijvoorbeeld te bewerken/verwijderen als de gebruiker medewerker is *@
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Er zijn momenteel geen reserveringen beschikbaar.</p>
}